{
	parser: "babel-eslint",
	"plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "linebreak-style": 0
  },
  "extends": [
  	"airbnb-base",
    "plugin:react/recommended"
  ]
}