@import '../../../css/base/typography.scss';
@import '../../../css/base/color.scss';

.b-audio-player {
  border: 1px solid #e3e4e6;
  background-color: #fff;
  padding: 18px 30px;
  box-shadow: 0px 3px 7px rgba(0,0,0,.1);
  border-radius: 5px;
  display: flex;

  audio {display: none;}

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0px 0;
    height: 36px;
    outline: none;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: $color2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }

  input[type=range]::-moz-range-thumb {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: $color2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }
  input[type=range]::-ms-thumb {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: $color2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }

  &__range {
    margin: 0px 24px;
    width: 100%;
    position: relative;
    height: 36px;
  }

  &__range input[type="range"] {
    position: absolute;
    top: 0;
    cursor: pointer;
    opacity: 0;
    height: 40px;
  }

  &__track {
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    position: relative;
    pointer-events: none;
    padding-left: 13px;
    box-sizing: border-box;
    margin-left: -13px;
  }

  &__track:before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #e8e8e8;
    position: absolute;
    top: 18px;
  }

  &__track div {
    background-color: $color2;
    height: 4px;
    position: relative;
    top: 18px;
  }

  &__track div:after {
    content: "";
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: $color2;
    cursor: pointer;
    margin-top: -3px;
    position: absolute;
    right: -13px;
    top: -2px;
  }

  &__play {
    appearance: none;
    border: none;
    background: $color2;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    flex-shrink: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__play:active {
    border-style: none;
    margin: 0;
    padding:0;
  }

  &__play:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border: 9px solid transparent;
    border-left-color: #fff;
    border-right: 0;
    margin-left: 3px;
    transform: scale(1.4,1);
  }

  &__play[data-play="true"]:after {
    width: 4px;
    height: 16px;
    border: none;
    background: #fff;
    transform: none;
  }
  &__play[data-play="true"]:before {
    content: "";
    width: 4px;
    height: 16px;
    display: block;
    background: #fff;
  }

  &__duration {
    font-size: 15px;
    color: $color1;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

}
